<a href="https://colab.research.google.com/github/akash151295/DataScience_Python/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**`PYTHON - BASICS CONCEPTS `**

***Build in Functions ***

In [ ]:
print("Hey Akash !!")
print("Hey","Akash !!")
print("Hey Akash !!",end=' ')
print("How are you ?")
print("Hey "," Akash !!",sep='Good Morning')
print("How are you ?")

Hey Akash !!
Hey Akash !!
Hey Akash !! How are you ?
Hey Good Morning Akash !!
How are you ?

**# Data Types #**
1.   String
2.   int
3.   float
4.   Boolean
5.   list - ordered, changable and allow duplicates (used to store multiple items in a single variable)
6.   tuple - ordered and unchangable and does not allow duplicates (used to store multiple items in a single variable)
7.   dictionary -  ordered*, changeable and do not allow duplicates (Dictionaries are used to store data values in key:value pairs.)

In [ ]:
emp_name = "Akash"
emp_id = 873929
emp_growth = 95.67
all_emps_list = ['Akash', 'Shivam', 'Rahul']
all_emps_tuple = ('Akash', 'Shivam', 'Rahul')
all_emps_dic = {'stud_name':'Akash', 'ID':'87627', 'Grade':'Rahul'}

print(type(emp_name))
print(type(emp_id))
print(type(emp_growth))
print(type(all_emps_list))
print(type(all_emps_tuple))
print(type(all_emps_dic))

x = 5
y = 10

type(x>y)

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

bool

**#Operators#**

1.   Square root (**)
2.   modulus (%)
3.   floor quotient (//)
4.   Division, substraction, addition, multiplication

In [ ]:
print(2**2)
print(3%2)
print(3//2)

4
1
1

**Print** **Syntax**

In [ ]:
print("Mary Said" + " " +"items are very tasty!!")
print('Mary said "Items are very tasty!!"')
print("Mary said \"Items are very tasty!!\"")
print("Mary said\n\"Items are very tasty!!\"")  # new line
print("Mary said \n Items are very tasty!!")  # new line
print("Mary said \t Items are very tasty!!")  # tab space
multiline_string = '''

Line no. 1
Line no. 2
Line no. 3
Line no. 4

'''

print(multiline_string)

Mary Said items are very tasty!!
Mary said "Items are very tasty!!"
Mary said "Items are very tasty!!"
Mary said
"Items are very tasty!!"
Mary said
 Items are very tasty!!
Mary said 	 Items are very tasty!!


Line no. 1
Line no. 2
Line no. 3
Line no. 4


**String - Concatination**

In [ ]:
print("Akash"+"Rahul"+"Shivam")
print("akash"*5)


print("Akash\n"+"Rahul\n"+"Shivam\n")
print("akash\n"*5)
print("akash\n"+5)
print("akash"+5.0)
print("akash"+5)

AkashRahulShivam
akashakashakashakashakash
Akash
Rahul
Shivam

akash
akash
akash
akash
akash

TypeError: ignored

**List - Data Type (Different Operations)**

In [ ]:
stud_names = ['akash', 'rahul', 'shivam']

print(stud_names)
print(stud_names[0])
stud_names[0]='Rohit'
print(stud_names)
print(stud_names[0])
stud_names.append('Akash')
print(stud_names)
print(stud_names[1:4])
print(len(stud_names))
stud_names.sort()
print(stud_names)
print(stud_names[0])

['akash', 'rahul', 'shivam']
akash
['Rohit', 'rahul', 'shivam']
Rohit
['Rohit', 'rahul', 'shivam', 'Akash']
['rahul', 'shivam', 'Akash']
4
['Akash', 'Rohit', 'rahul', 'shivam']
Akash

**Build in Data Types**

Text type - 'str'
Numeric type - 'int', 'float', 'complex'
Sequence type - 'list', 'tuple', 'range'
Mapping type - 'Dict'
Set type - 'set', 'frozenset'
Boolean type - 'bool'
Binary type - 'bytes', 'bytearray', 'memoryview'
None type - 'None'

**Get User Input with type castings**

In [ ]:
age = input("Please enter your age..")
print(age)
type(age)

Please enter your age..55
55

str

In [ ]:
age = int(input("Please enter your age.."))
print(age)
type(age)

Please enter your age..66
66

int

In [ ]:
weight = input("whats your weight?")
print(weight)
type(weight)

whats your weight?55.8
55.8

str

In [ ]:
weight = float(input("whats your weight?"))
print(weight)
type(weight)

whats your weight?55.9
55.9

float

In [ ]:
name = input("your name ?")
print(name)
type(name)
age = int(name)
type(age)

your name ?89
89

int

In [ ]:
name = str(input("your name ?"))
print(name)
type(name)

your name ?kk
kk

str

**Python Operators**


*   Arithmetic Operators
*   Assignment Operators

*   Comparison Operators
*   Logical Operators

*   Membership Operators
*   Identity Operators

**Arithmetic Operators**

Operator   | Operation   | Examples   | Output
-----------|-------------|------------|--------
+	         | Addition	    | 2 + 3     |  5
-	         | Subtraction   | 7 - 5    |  2
*	         | Multiplication | 5 * 2   |  10
/	         | Division       | 22 / 8  |  2.75
%	         | Modulus        | 22 % 8  |   6
**	       | Exponentiation	| 3 ** 2  |   9
//	       | Floored division | 22 // 2 |   11

```

In [ ]:
a,b = 4,2
print(a+b)
print(type(a+b))
print(a-b)
print(type(a-b))
print(a*b)
print(type(a*b))
print(a/b)
print(type(a/b))
print(a%b)
print(type(a%b))
print(a**b)
print(type(a**b))
print(a//b)
print(type(a//b))

6
<class 'int'>
2
<class 'int'>
8
<class 'int'>
2.0
<class 'float'>
0
<class 'int'>
16
<class 'int'>
2
<class 'int'>

**# Asignment Operator: =, +=, -=**

In [7]:
a=1
print(a)
b=2
print(b)
c=a
print(c)
c+=1
print(c)
a = a-1
print(a)

1
2
1
2
0

**Comparison Operator: >,<,>=,<=,==.!=**

In [13]:
a=1
b=2
if(a>b):
  print("a is big")
else:
  print("b is big")

if(a<=b):
  print("a is big or equal to b")
else:
  print("b is big")

if(a==b):
  print("a and b both are equals")
else:
  print("error")

if(a!=b):
  print("a is not equal to b")
else:
  print("error")

b is big
a is big or equal to b
error
a is not equal to b

**Logical Operators: AND, OR, NOT**

In [20]:
a=5
b=6
if(a==b and a!=0):
  print("a is equal to b but not equal to 0.")
else:
  print("error")
if(a==b or a!=0):
  print("a is equal to b but not equal to 0.")
else:
  print("error")

list=['orange','red','blue']
print('orange' not in list)
print('orange' in list)

error
a is equal to b but not equal to 0.
False
True

**Python Data Structure:**

---
Data Structures are a way of organizing data so that it can be accessed more efficiently depending upon the situation.
---

---
**Type of Data Structure:**
---

---
List, Dictionary, Tuple
---

In [27]:
list=['blue','red','black']
print(list)
print(list[0])
list.append('black')
print(list)
list.pop()
print(list)
print(list[:2])
print(list[-1])
print(list[:-1])

['blue', 'red', 'black']
blue
['blue', 'red', 'black', 'black']
['blue', 'red', 'black']
['blue', 'red']
black
['blue', 'red']